.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.general_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 50vw;
  height: 80vh;
  margin: auto;

  border: 1px solid #f0f8ff;
  box-shadow: 3px 3px 10px 0px #b0c2d1;
}

.section-div--general {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;

  color: #1e90ff;
}

h1 {
  font: bold 1.3rem "Roboto";
}

.background-grey {
  background-color: #f0f8ff;
}
